/* import de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* costom property */
:root {
  --Monserrat: 'Montserrat', sans-serif;
  --Lato: 'Lato', sans-serif;
  --Bg-primary: #151E21;
  --Light-bg: #f0f0f0;
  --Text-primary: #ffffff;
  --Dark-secondary: #000000;
  --Title: #7DDFEE;
  --Moon-color: #f1c40f;
  --Sun-color: #f39c12;
}
/* Generales */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Bg-primary);
  color: var(--Text-primary);
  transition: background .2s linear;
  width: 90%;
  margin: 0 auto;
}
body.light {
  background-color: var(--Light-bg);
  color: var(--Dark-secondary);
}
h1, h2, h3, h4, h5 {
  font-family: var(--Monserrat);
  font-weight: 700;
  margin-bottom: 20px;
}
p {
  font-family: var(--Lato);
}
img {
  width: 100%;
}
/* Navbar */
.contenedor {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .contenedor {
    height: 80px;
  }
}
.contenedor__nav {
  display: flex;
  align-items: center;
}
.contenedor__enlace {
  text-decoration: none;
  color: var(--Light-primary);
  margin-right: 20px;
}
.contenedor__enlace .light {
  color: var(--Dark-secondary);
}
.contenedor__enlace:last-child {
  margin: 0;
}
.contenedor__logo-img {
  width: 100px;
  transition: all .5s ease-in-out ;
}
.contenedor__logo-img:hover {
  width: 110px;
}
.fab {
  font-size: 20px;
  transition: all .5s ease-in-out;
}
.fab:hover {
  font-size: 30px;
}
@media (min-width: 768px) {
  .fab {
    font-size: 30px;
  }
  .fab:hover {
    font-size: 40px;
  }
}
/* Swith dark mode */
.switch {
  background-color: #343d5b;
  border-radius: 100px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.switch::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}
@media (min-width: 768px) {
  .switch::after {
    width: 30px;
    height: 30px;
  }
}
.switch.active {
  background-color: orange;
  color: #000;
}
.switch.active::after {
  right: 0;
  left: unset;
}
.span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: block;
  background-color: none;
  color: #fff
}
@media (min-width: 768px) {
  .span {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
/* contenedor seccion */
.contenedor-seccion {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contenedor-img-proyecto {
  width: 350px;
  height: 350px;
}
@media (min-width: 768px) {
  .contenedor-seccion {
    flex-direction: row;
  }
  .contenedor-texto {
    width: 600px;
    margin: 30px;
  }
}
.contenedor-guias {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0px;
  background-color: var(--Dark-secondary);
  height: 50px;
  border-radius: 10px;
}
.boton-link {
  color: var(--Light-bg);
  text-decoration: none;
}